body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.registration-container {
    width: 90%;
    max-width: 450px;
    height: auto;
    margin: 50px auto;
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(118, 111, 111, 0.1);
    /* Uncomment if needed */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 8px;
    padding: 4px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 12px;
    font-weight: bold;
}

button:hover {
    background-color: rgb(50, 126, 228);
}

@media (min-width: 600px) {
    .registration-container {
        width: 75%;
        padding: 35px;
    }

    h2 {
        font-size: 28px;
    }

    button {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) {
    .registration-container {
        width: 60%;
        padding: 40px;
    }

    h2 {
        font-size: 30px;
    }

    button {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 992px) {
    .registration-container {
        width: 450px;
        padding: 45px;
    }

    h2 {
        font-size: 30px;
    }

    button {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}
